
@{
    ViewBag.Title = "Creative";
}
<style>
    .aman .soni, .aman .sonii{
        color:red;
    }
</style>

<h2>Creative</h2>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse"  href="#collapseOne" >
                    Complete Terms and Conditions
                    <span class="add"><i class="fa fa-plus"></i></span>
                    <span class="remove"><i class="fa fa-minus"></i></span>
                    <!--<img src="images/add.svg" class="add" alt="">
                    <img src="images/remove.svg" class="remove" alt="">-->
                </a>
            </h4>
        </div>
        @*<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <p>PLEASE BE ADVISED THAT THIS AGREEMENT CONTAINS AN ARBITRATION PROVISION AND CLASS ACTION WAIVER WHICH LIMIT YOUR RIGHT TO HAVE A DISPUTE HEARD IN COURT. PLEASE READ THIS AGREEMENT AND THE ARBITRATION PROVISION AND CLASS ACTION WAIVER BELOW CAREFULLY.</p>
                <p>Welcome to Housing Works!</p>
                <p>These terms of service outline the rules and regulations for the use of Housing Works' Website, located at the <a title="" href="http://www.auction.housingworks.org/" target="_blank"></a>Site.</p>
                <p>By accessing this website, we assume you accept these terms of service. Do not continue to use Housing Works’ Site if you do not agree to all of the terms of service stated on this page.</p>
                <p>The following terminology applies to these terms of service: "Client", "You" and "Your", etc. refers to you, the person logged onto this website. "The Company", "Ourselves", "We", "Our" and "Us", etc. refers to Housing Works. "Party", "Parties", "Us", etc. refers to both you and us. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>
            </div>
        </div>*@
    </div>
</div>

<div id="collapseOne" class="collapse in aman">
    <div class="panel-body soni">
        <p>PLEASE BE ADVISED THAT THIS AGREEMENT CONTAINS AN ARBITRATION PROVISION AND CLASS ACTION WAIVER WHICH LIMIT YOUR RIGHT TO HAVE A DISPUTE HEARD IN COURT. PLEASE READ THIS AGREEMENT AND THE ARBITRATION PROVISION AND CLASS ACTION WAIVER BELOW CAREFULLY.</p>
        <p>Welcome to Housing Works!</p>
        <p>These terms of service outline the rules and regulations for the use of Housing Works' Website, located at the <a title="" href="http://www.auction.housingworks.org/" target="_blank"></a>Site.</p>
        <p>By accessing this website, we assume you accept these terms of service. Do not continue to use Housing Works’ Site if you do not agree to all of the terms of service stated on this page.</p>
        <p>The following terminology applies to these terms of service: "Client", "You" and "Your", etc. refers to you, the person logged onto this website. "The Company", "Ourselves", "We", "Our" and "Us", etc. refers to Housing Works. "Party", "Parties", "Us", etc. refers to both you and us. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>
    </div>
    <div class="panel-body sonii">
        <p>PLEASE BE ADVISED THAT THIS AGREEMENT CONTAINS AN ARBITRATION PROVISION AND CLASS ACTION WAIVER WHICH LIMIT YOUR RIGHT TO HAVE A DISPUTE HEARD IN COURT. PLEASE READ THIS AGREEMENT AND THE ARBITRATION PROVISION AND CLASS ACTION WAIVER BELOW CAREFULLY.</p>
        <p>Welcome to Housing Works!</p>
        <p>These terms of service outline the rules and regulations for the use of Housing Works' Website, located at the <a title="" href="http://www.auction.housingworks.org/" target="_blank"></a>Site.</p>
        <p>By accessing this website, we assume you accept these terms of service. Do not continue to use Housing Works’ Site if you do not agree to all of the terms of service stated on this page.</p>
        <p>The following terminology applies to these terms of service: "Client", "You" and "Your", etc. refers to you, the person logged onto this website. "The Company", "Ourselves", "We", "Our" and "Us", etc. refers to Housing Works. "Party", "Parties", "Us", etc. refers to both you and us. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>
    </div>
</div>